ansible/artifacts/
ansible/group_vars/
ansible/.ansible/
ansible/chains/*/artifacts/
ansible/chains/*/.work/
ansible/chains/*/group_vars/chain_runtime.yml
ansible/chains/*/group_vars/awg_clients.yml
ansible/inventory/
ansible/chains/*/inventory.yml
ansible/chains/*/group_vars/
ansible/envs/
ansible/chain.yml
chains.yaml
awg.yaml
awg.yml
clients/
awg/configs/

.idea
__pycache__/
*.py[cod]
