    {
      "listen": "127.0.0.1",
      "port": {{ xray_api_port | default(10086) }},
      "protocol": "dokodemo-door",
      "settings": {
        "address": "127.0.0.1"
      },
      "tag": "api"
    },
